<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<body>

<div layout:fragment="content">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Riwayat Pelatihan</h6>
                </div>
                <div class="card-body">
                    <div class="table">
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="col-sm-12 col-md-6 mb-4">
                                <a th:href="@{/training/show-add-form}" class="btn btn-primary">Tambah Pelatihan</a>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                        <thead>
                                        <tr role="row">
                                            <th>Nama Pelatihan</th>
                                            <th>Sertifikat</th>
                                            <th>Tahun</th>
                                            <th>Aksi</th>
                                        </thead>
                                        <tbody>
                                        <tr th:each="training : ${trainingList}">
                                            <td th:text="${training.trainingName}"></td>
                                            <td th:text="${training.certificate}"></td>
                                            <td th:text="${training.year}"></td>
                                            <td align="center">
                                                <a title="Edit" th:href="@{'/training/show-update-form/' + ${training.id}}" class="btn btn-info btn-circle btn-sm"><i class="fas fa-edit"></i></a>
                                                <a title="Hapus" th:href="@{'/training/delete/' + ${training.id}}" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>