<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Data Employee</title>
</head>
<body>
<div layout:fragment="content">

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title"><strong>Data Pendidikan Belum Ada</strong></h5>
                <p class="card-text">Silahkan tambahkan data pendidikan terlebih dahulu.</p>
<!--                direct ke halaman form tambah education atau add_education.html-->
                <a th:href="@{/education/show-form-education}" class="btn btn-primary">Tambahkan Pendidikan</a>
            </div>
        </div>
    </div>
</div>

</div>
</body>
</html>